body { 
    --font-family: Lato, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  
    --card-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
      rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  
    --text-color: #333;
    --color-primary: #27a;
    --color-secondary: rebeccapurple;


    --color-success: rgb(30, 70, 32);
    --color-error: rgb(95, 33, 32);
    --color-warning: rgb(102, 60, 0);
    --color-info: rgb(1, 67, 97);
  


    --color-text-back-primary: #27a;
    --color-text-back-secondary: rebeccapurple;
 
   
    --color-text-back-info: rgb(229, 246, 253);
    --color-text-back-error: rgb(253, 237, 237);
    --color-text-back-warning: rgb(255, 244, 229);
    --color-text-back-success: rgb(237, 247, 237);
   
    --color-control-back-primary: #27a;
    --color-control-back-secondary: rebeccapurple;

    --color-control-back-success: rgb(64, 148, 68);
    --color-control-back-error: rgb(163, 76, 74);
    --color-control-back-warning: rgb(151, 122, 81);
    --color-control-back-info: rgb(83, 134, 158);

    --round-size-small: 24px;
    --round-size-medium: 32px;
    --round-size-large: 48px;
    --round-size-xl: 64px;
  
    --hilite-color: beige;
    --theme-spacing: 4px;
    --control-fore-color: beige;
  }

 

.ui-text {
  color: var(--text-fore-color);
  background-color: var(--text-back-color);
}
.ui-control:not(.switch) {
  color: var(--control-fore-color);
  background-color: var(--control-back-color);
}
.ui-control.filled {
  color: #fff; 
  background-color:  var(--control-back-color);
}
.ui-control.standard {
  background-color: transparent;
  color: var(--control-back-color);
  border-width: 0;
}
.ui-control.outlined {
  color: var(--control-back-color);
  border-color: var(--control-back-color);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}

.ui-plain {
  color: var(--text-color); 
  font-family: var(--font-family);
}


.ui-input {
  border-color: var(--text-fore-color); 
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  height: fit-content;
  position: relative;
}

.ui-input.standard { 
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: var(--text-fore-color); 
}

.ui-input.filled {  
  border-radius: 4px 4px 0 0;
  background-color: rgba(0, 0, 0, 0.08);
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: var(--text-fore-color); 
}

.ui-input label {
  position: absolute;
  left: 8.5px;
  top: -8px;
  font-size: 0.7rem;
  z-index: 2;
  padding: 0;
  background-color: white;
  color: var(--text-fore-color); 
  overflow: hidden;
  width: 0;
  transition: all 0.1s linear;
}


.ui-input label.placeholder {
  background-color: transparent;
  width: fit-content;
  font-size: 1rem;
  left: 12.5px;
  top: 14px;
  color: rgba(0,0,0,.5)
}

.ui-input.filled label {
  background-color: transparent;
}

.ui-input:focus-within { 
  outline: solid 2px var(--text-fore-color); 
}

.ui-input label.focus:not(.placeholder),
.ui-input:focus-within label{ 
  padding: 0 4px;
  width: fit-content;
}

.ui-input.filled:focus-within ,
.ui-input.standard:focus-within {  
  outline: none;
  border-bottom-width: 2px; 
}


.ui-input input,
.ui-input select,
.ui-input textarea {
  z-index: 1;
  -webkit-appearance: none;
  user-select: none;
  box-sizing: content-box;
  padding: 12.5px 14px;
  font-size: 1rem;
  border-width: 0px;
  font-family: var(--font-family);
  outline-width: 0px;
  background-color: transparent;
}

.ui-input.small input,
.ui-input.small textarea { 
  padding: 9px 14px;
  font-size: 0.9rem; 
}


.ui-input input,
.ui-input textarea,
.ui-input input:active,
.ui-input textarea:active,
.ui-input input:focus,
.ui-input textarea:focus, 
.ui-input input:focus-visible,
.ui-input textarea:focus-visible { 
  outline-width: 0px;
}

 
